input {
  height: 21px;
}

.bg-gray-200 {
  padding: 3px 9px;
}

.main {
  margin: 15px 55px;
  background-color: #f5f5f5;
}

.basyo {
  font-size: 34px;
  text-align: center;
}
.tenki {
  font-size: 30px;
  text-align: center;
}

.max {
  font-size: 22px;
  color: red;
  text-align: center;
}

.min {
  font-size: 22px;
  color: blue;
  text-align: center;
}
